<script>

var plugin;
var startupTimeout;

var postLoadInit = function() {
  if (1 == plugin.__moduleReady) {
    clearTimeout(startupTimeout);
    // Set up the display size
    canvasWidth = parseFloat(document.getElementById('NEXE').width);
    plugin.setup(canvasWidth);
  } else {
    if (plugin.__moduleReady == undefined) {
      alert('The Native Client plugin was unable to load');
      document.getElementById('warning')
        return;
    }
    startupTimeout = setTimeout(postLoadInit, 100);
  }
}

// The page begins by loading the NativeClient module, mandel_nav.nexe.
function Init() {
 // Remember the NativeClient plugin element.
 plugin = document.getElementById('NEXE');
 // Wait for the module to finish initializing before scripting.
 postLoadInit();
}

window.onload = Init;

</script>
<div id="warning"> </div>
<embed type="application/x-nacl-srpc" id="NEXE" src="NEXE/NEXE"
             class="QtNaClApplication" width="400" height="400" onclick="" />
